/*Este é um comentário em CSS*/


/*Esta é uma regra CSS3*/
h1 {
    color: red;
}

.cabecalho {
    background-color: blue;
}

.container {
    margin: 20px;
}

#conteudo {
    line-height: 1.5em;
}

#conteudo form {
    border: 1px solid grey;
    padding: 10px;
}

h1 h2 {
    font-family: "Times New Roman", serif;
}

p {
    color: green;
}

header nav a {
    font-weight: bold;
}

.button {
    background-color: blue;
    color: white;
}

#rodape {
    border-top: 2px solid red; 
}

.link{
    display: inline;
    margin: 1%;
}
