.cabecalho {
    background-color: blue;
}

.container {
    margin: 20px;
}

#conteudo {
    line-height: 1.5em;
}

h1 h2 {
    font-family: "Times New Roman", serif;
}

header nav a {
    font-weight: bold;
}

.link{
    display: inline;
    margin: 1%;
}
